@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
    font-family: 'ArcadeClassic', sans-serif;
    letter-spacing: 2px;
    padding: 10px;
}

body {
    margin: 0;
    padding: 10px;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;

}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img9.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
}

.main-content {
    padding: 20px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.filtros {
    margin-bottom: 20px;
    display: flex;
    margin-left: 10%;
    border-color: black;
}

.numero_filas {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.min_dinero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.btn_filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.tabla {
    overflow-x: auto;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 1rem;
    ;
}

th,
td {
    padding: 8px;
    text-align: center;
}

th,
td {
    text-align: center;
    height: 30px;
}

.tabla td:first-child {
    border-left: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: lightblue;
}

.tabla td:first-child::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.tabla td:first-child {
    position: relative;
    z-index: 1;
}

.tabla td:first-child::after {
    content: '';
    display: block;
    width: calc(100% - 30px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}




tr:first-child th {
    border: none;
}

td:nth-child(2),
td:nth-child(3) {
    color: #403C37;
}


#filter-form {
    margin-bottom: 20px;
}

#results {
    overflow-x: auto;
}

@media screen and (max-width: 600px) {

    th,
    td {
        padding: 4px;
    }

    button {
        width: 100%;

        margin-top: 10px;
    }

    html {
        padding: 0;
        margin: 0;
        max-width: 100%;
    }

    body {
        padding: 0;
        margin: 0;
        max-width: 100%;
    }

    .filtros {
        display: block;
        margin: 0;
    }

    .btn_filtros {
        margin: 0;
        width: 100%;
    }
}


.btn {
    font-size: 0.5em;
    font-family: 'Press Start 2P', cursive;
    width: 100px;
    height: 30px;
    background: #FE9D3D;
    border: 0px;
    position: relative;
    box-shadow:
        inset -4px 2px 1px 1px #B66414,
        inset -4px -2px 1px 1px #D58535,
        inset 4px 0px 1px 1px #D58535;
    margin-top: 2.5%;

}

.btn:hover {
    cursor: pointer;
    background-color: #FC830A;
}

.btn:active {
    top: 5px;
    box-shadow:
        -4px 2px 1px 1px grey,
        -4px -2px 1px 1px #BBAF89,
        4px 0px 1px 1px lightgray;
}

.btn::after {
    content: '';
    background: black;
    position: absolute;
    left: -2.5%;
    top: 0;
    width: 105%;
    height: 100%;
    z-index: -1;
}

.btn::before {
    content: '';
    background: black;
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 113%;
    z-index: -1;
}

input[type="number"], select {
    width: 90%;
    padding: 8px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ECD9C5;
    font-family: 'ArcadeClassic', sans-serif;
}