<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/arcade-classic" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/joystix" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <title>Reestablecer contraseña</title>
</head>

<body>
    <div class="container">
        <div class="background-image"></div>
        <div class="form-back"></div>
        <div class="form-back-2"></div>
        <div class="form-display" id="reset-password-form">
            <form action="/reset-password" method="POST" onsubmit="return validatePassword()">
                <h2>Reestablecer <br> contraseña</h2>
                <input type="hidden" name="token" value="{{ token }}">
                <input id="nueva-contraseña" type="password" name="nueva_contraseña" placeholder="Nueva contraseña" required="required">
                <input id="confirmar-contraseña" type="password" name="confirmar_contraseña" placeholder="Confirma contraseña" required="required">
                <div id="error-message" class="error-message" style="display: none;">Las contraseñas no coinciden</div>
                <button type="submit">Reestablecer</button>
                <p><br></p>
            </form>
        </div>
    </div>
    <script>
        function validatePassword() {
            var password1 = document.getElementById('nueva-contraseña').value;
            var password2 = document.getElementById('confirmar-contraseña').value;
            var errorMessage = document.getElementById('error-message');

            if (password1 !== password2) {
                errorMessage.style.display = 'block';
                return false; 
            } else {
                errorMessage.style.display = 'none';
                return true; 
            }
        }
    </script>
</body>

</html>
