<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/joystix" rel="stylesheet">
    <title>Verqor Farming Tycoon Tutorial</title>
    <link rel="stylesheet" href="/assets/styles/styles-tutorial-juego.css">
    <link rel="shortcut icon" href="/assets/favicon.ico">
</head>
<body>
    <div class="container">
        <div class="top-bar">
            <div class="title">Tutorial</div>
            <div class="subtitle">¿Cómo jugar Verqor Farming Tycoon?</div>
        </div>
        <div class="background-image"></div>
        <div class="section first-section">
            <div class="image-container">
                <img id="first-image" src="../assets/img-tutorial/icono1.png" alt="Imagen descriptiva">
            </div>
            <div class="content-container">
                <h2><span id="step-text">1. Conoce la granja y tus parcelas</span></h2>
            </div>
        </div>
        <div class="section second-section">
            <div class="top-content">
                <div style="display: block;">
                    <p id="text-animation"></p> <!-- Aquí se animará el texto. -->
                    <div class="triangulo"></div>
                    <button class="prev-button" onclick="prevText()">Anterior</button>
                    <button class="next-button" onclick="nextText()">Siguiente</button>
                </div>
                <img  src="../assets/img-tutorial/abuelo.png" alt="Imagen complementaria">
            </div>
            <img  id="second-image" src="../assets/img-tutorial/Img1.png" alt="Imagen descriptiva para estrategias avanzadas">
        </div>
    </div>
</body>
<script src="../assets/js/script-tutorial-juego.js"></script>
</html>
